body {
  background:#E1E8F4;
}
.App {

font-family: Arial, Helvetica, sans-serif;
  
  margin: 60px 0 100px;;
padding: 25px;
  text-align: left; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.word {font-size: 75px;
text-transform: capitalize;
font: weight 400px;
color:#7b83ad;
}

.phonetics-text {display: inline;}

.Dictionary {max-width: 600px;
margin: 0 auto;}


a {color: #7b7ee3}

.meaning {color: #808080;}


.Results {color: #808080;}

ul {list-style: none;
display: inline-block;
margin-right: 10px;
padding: 0;
line-height: 1px;}


li {color: #7b7ee3 ;
font-size: 12px;}